.bg{
    background-image: url(/empty-airport\ \(1\).jpg);
}
.plane{
    width: 30%;
    height: 30%;
    animation: plane 4s linear infinite;
    position: absolute;
    top: 60vh;
    left: 80%;
    transform-origin: 100% 50%; 
}
@keyframes plane {
    100%{
      transform: translateX(0px) translateY(0px) rotate(0deg);  
    }
    30%{
        transform: translateX(-400px) translateY(0px) rotate(0deg); 
    }
    100%{
        transform: translateX(-2000px) translateY(-400px) rotate(60deg); 
    }
}
